//colors
$primary: #381d2a; //1
$primaryLight: yellow;
$primaryDark: blue;
$secondary: #3e6990; //2
$secondaryLight: rgb(108, 134, 143);
$secondaryDark: darkblue;
$neutral: #aabd8c; //3
$neutralDark: darkgray;
$neutralLight: #e9e3b4;
$background: white; //4
$backgroundLight: white;
$backgroundDark: gray;
$highlight: silver; //5
//end_colors

//gradients
//end_gradients

//dimensions
//end_dimensions

//transitions
//end_transitions