.dropdown-menu .dropdown-menu {
	top: auto;
	left: 100%;
	transform: translateY(-2rem);
}
.dropdown-item + .dropdown-menu {
	display: block;
	opacity: 0;
	transition: opacity .3s 1s;
}
.dropdown-item.submenu::after {
    @media screen and (min-width: 992px) {
        content: '▸';
        margin-left: 0.5rem;
    }
}
.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
	opacity: 1;
	transition: opacity .3s .1s;
}