$backgroundLight: #dad2ca;
$primaryLight: #3e6c95;
$highlightDark: #f3ff66;
$neutralLight: #fffff2;
$neutralDark: #ffff26;
$primary: #20384D;
$background: #B1A08D;
$primaryDark: #020405;
$highlightLight: #ffffff;
$highlight: #FBFFCC;
$backgroundDark: #806d58;
$secondary: #98B5A4;
$secondaryDark: #618670;
$neutral: #FFFF8C;
$secondaryLight: #d3e0d8;
