<<<<<<< HEAD
$highlightLight: #ffeaea;
$primary: #224E5E;
$neutralDark: #70ffe0;
$neutralLight: #ffffff;
$neutral: #D6FFF6;
$primaryLight: #3d8ca9;
$secondary: #5B39D4;
$backgroundDark: #007acd;
$highlight: #FF8484;
$backgroundLight: #9ad6ff;
$background: #34ADFF;
$primaryDark: #071013;
$secondaryDark: #351e89;
$highlightDark: #ff1e1e;
$secondaryLight: #a08de6;
=======
$neutral: #91D674;
$secondaryDark: #983d5d;
$secondaryLight: #e4bdcb;
$secondary: #C77491;
$backgroundDark: #1c63ff;
$highlight: #78A3FF;
$highlightDark: #125dff;
$primaryDark: #07090e;
$neutralLight: #cfedc3;
$backgroundLight: #e8efff;
$highlightLight: #dee9ff;
$background: #82A9FF;
$primaryLight: #4b6396;
$neutralDark: #59b034;
$primary: #293652;
>>>>>>> cab35b6362a5e1fd52b4a4fe5ef27c7c67331962
