$background: #75B3FF;
$secondaryLight: #d7d3ef;
$secondaryDark: #5241b5;
$neutralLight: #ffffff;
$primary: #224E5E;
$highlightDark: #ff1e1e;
$secondary: #9388D4;
$backgroundLight: #dbebff;
$neutral: #D6FFF6;
$highlight: #FF8484;
$primaryDark: #071013;
$highlightLight: #ffeaea;
$neutralDark: #70ffe0;
$primaryLight: #3d8ca9;
$backgroundDark: #0f7bff;
