$highlight: #E8E0FF;
$backgroundDark: #a3ae54;
$neutralLight: #ffffff;
$secondaryLight: #bbbea8;
$background: #C8CF99;
$primary: #0070B7;
$primaryLight: #1ea8ff;
$neutral: #ADFFFB;
$primaryDark: #003251;
$secondaryDark: #555941;
$backgroundLight: #edf0de;
$neutralDark: #47fff6;
$highlightDark: #9c7aff;
$secondary: #8E936D;
$highlightLight: #ffffff;
