.head_number {
    @media screen and (max-width: 576px) {
        text-align: center;
    }
}

.consultant_text {
    font-size: 14px;
    color: blue;
}

.auth-edo-btn {
    border: 1px solid blue;
    box-shadow: 0 0 10px rgba(5, 59, 236, 0.5);
    color: rgb(5, 59, 236);

    padding: 15px;
    &:hover {
        border: 2px solid blue;
        background-color: blue;
        color: white;
    }
}