{% extends 'mainapp/base.html' %}{% load static %}

{% block content %}

<div class="bg_header_inner_page mb-4" id="page_top">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="headline_bg_inner_page">
                    Информация о независимой оценке квалификации
                </div>
                <p class="subtitle_inner_page_text">
                    Центр оценки квалификации на базе {{ cok_place.org_name }}
                </p>
                <button class="back_to_home_page">
                    <a href="{% url 'index' %}" class="link_to_home_page">
                        <img src="{% static 'img/back_to_page.png' %}" class="img_back_to_page" alt="">На главную
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

    <div class="container">
    <section class="col-lg-10">
        <p class="h5 mt-5">Полное наименование, место нахождения, контакты центра оценки квалификации</p>
        <ul class="list-group my-5">
            <li class="list-group-item"><strong class="mr-2">
                Полное наименование:</strong> {{ cok_place.org_name }}</li>
            <li class="list-group-item"><strong class="mr-2">
                Место нахождения ЦОК:</strong> {{ cok_place.org_addr }}</li>
            <li class="list-group-item"><strong class="mr-2">
                Адрес для почтовых отправлений:</strong> {{ cok_contacts.post_addr }}</li>
            <li class="list-group-item"><strong class="mr-2">
                Адрес(а) электронной почты:</strong> {{ cok_contacts.email }}</li>
            <li class="list-group-item"><strong class="mr-2">
                Адрес официального сайта ЦОК:</strong> <a href="{{ cok_contacts.site_url }}">
                    {{ cok_contacts.site_url }}</a></li>
            <li class="list-group-item"><strong class="mr-2">
                Адрес официального сайта Совета по профессиональным
                квалификациям в области сварки (СПКС):</strong>
                    <a target="_blank" href="{{ cok_contacts.spks_site_url }}">
                        {{ cok_contacts.spks_site_url }}</a></li>
        </ul>

        <div class="card border-dark mb-3" style="max-width: 30rem;">
            <div class="card-header">Номер контактного телефона</div>
            <div class="card-body text-dark">
                <h5 class="card-title">{{ cok_contacts.cok_phones }}</h5>
                <p class="card-text">По любым вопросам проведения оценки квалификации в нашем ЦОК</p>
            </div>
            </div>
    </section>

    <section class="col-lg-10 my-5">
        <p class="h5 my-3">
            Наименования квалификаций и требования к квалификациям, на соответствие
            которым Центр проводит независимую оценку квалификации
        </p>

        <div class="accordion" id="accordionProfquals">
            {% for el in profqualifications %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <a href="#" class="text-wrap" data-toggle="collapse" data-target="#ps_{{ el.profstandard.pk }}" aria-expanded="true" aria-controls="ps_{{ el.profstandard.pk }}">
                            Профессиональный стандарт: {{ el.profstandard.title }}
                        </a>
                    </div>

                    <div id="ps_{{ el.profstandard.pk }}" class="collapse{% if forloop.counter0 == 0 %} show{% endif %}" aria-labelledby="headingOne" data-parent="#accordionProfquals">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                    <th scope="col" class="text-center align-middle"><small>Номер в реестре сведений о проведении независимой оценки квалификации</small></th>
                                    <th scope="col" class="text-center align-middle"><small>Наименование квалификации</small></th>
                                    <th scope="col" class="text-center align-middle"><small>Перечень документов, необходимых для прохождения профессионального экзамена по соответствующей квалификации</small></th>
                                    <th scope="col" class="text-center align-middle"><small>Срок действия свидетельства (лет)</small></th>
                                    <th scope="col" class="text-center align-middle"><small>Наименование профессии рабочего, должности руководителя, специалиста и служащего в соответствии с ЕТКС, ЕКС с указанием разряда работы, профессии/категории должности/класса профессии</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for q in el.qualifications %}
                                    <tr>
                                        <th scope="row">{{ q.qual_code }}</th>
                                        <td>{{ q.title }}</td>
                                        <td>

                                            {% for d in q.documents.all %}
                                                <p>
                                                    {{ d.title }}
                                                    {% if d.example %}
                                                        (<a href="{{d.example.url}}" target="_blank">Скачать образец</a>)
                                                    {% endif %}
                                                </p>
                                            {% endfor %}

                                        </td>
                                        <td>{{ q.period }}</td>
                                        <td>{{ q.professions|safe }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                        </div>
                        </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </section>


    <section class="col-lg-10 my-5">
        <p class="h5 my-3">
            Адреса мест проведения профессионального экзамена
        </p>
         <div class="table-responsive">
             <table class="table">
                <tbody>
                    {% for exam_place in cok_exam_places %}
                        <tr>
                        <th scope="row">{{ exam_place.title }}</th>
                        <td>{{ exam_place.address }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
         </div>
    </section>
    <section class="col-lg-10 my-5">
        <p class="h5 my-3">
            Примеры заданий, входящих в состав оценочных средств, используемых центром при проведении профессионального экзамена
        </p>

        <div class="accordion" id="qualDocumentsExamples">
            {% for el in profqualifications %}
                <div class="card">
                    <div class="card-header" id="headingExamplesOne">
                        <a href="#" class="text-wrap" type="button" data-toggle="collapse" data-target="#examples_{{ el.profstandard.pk }}" aria-expanded="true" aria-controls="ps_{{ el.profstandard.pk }}">
                            Профессиональный стандарт: {{ el.profstandard.title }}
                        </a>
                    </div>

                    <div id="examples_{{ el.profstandard.pk }}" class="collapse" aria-labelledby="headingExamplesOne" data-parent="#qualDocumentsExamples">
                    <div class="card-body">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-center align-middle"><small>Наименование квалификации</small></th>
                                    <th scope="col" class="text-center align-middle"><small>Пример задания</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for q in el.qualifications %}
                                <tr>
                                    <td>{{ q.qual_code }} {{ q.title }} </th>
                                    <td>

                                        {% for d in q.documents.all %}
                                            {% if d.task_example %}
                                            <p>
                                                {% if d.example %}
                                                    <a href="{{d.example.url}}" target="_blank">{{ d.title }}</a>
                                                {% else %}
                                                    <a href="#" target="_blank">Здесь будет ссылка на пример задания</a>
                                                {% endif %}
                                            </p>
                                            {% endif %}
                                        {% endfor %}

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="col-lg-10 my-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Образец заявления соискателя для проведения независимой оценки</h5>
                <div class="card-text">
                            Форма заявления: <a href="{{ cok_zayavki.zayavka_1.example.url }}" class="mx-2 btn btn-primary btn-sm">Скачать</a>
                            Пример заполнения заявки: <a href="{{ cok_zayavki.zayavka_2.example.url }}" class="ml-2 btn btn-primary btn-sm">Скачать</a>
                </div>
            </div>
        </div>
    </section>
    <section class="col-lg-10 my-5">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Правила проведения независимой оценки квалификации</h5>
            <p class="card-text">
                Оценка квалификации в нашем ЦОКе осуществляется в соответствии с Постановлением Правительства РФ от 16 ноября 2016 г. № 1204 “Об утверждении Правил проведения центром оценки квалификаций независимой оценки квалификации в форме профессионального экзамена”
            </p>
            <a href="{{ pravila.example.url }}" target="_blank" class="btn btn-primary btn-sm">Скачать</a>
            </div>
        </div>
    </section>
    <section class="col-lg-10 my-5">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Реестр сведений о проведении независимой оценки квалификации</h5>
            <p class="card-text">Реестр доступен на сайте НОК НАРК: <a href="https://nok-nark.ru/" target="_blank">nok-nark.ru</a></p>
            <small class="text-muted">Результаты профессионального экзамена публикуются в реестре в течение 10-15 календарных дней</small>

            </div>
        </div>
    </section>
    <section class="col-lg-10 my-4">
        <p class="h5 my-3">
            Сведения об апелляционной комиссии по рассмотрению жалоб, связанных с результатами прохождения профессионального экзамена и выдачей свидетельства о квалификации
        </p>

        <div class="table-responsive">
            <table class="table">
                {% comment %} <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    </tr>
                </thead> {% endcomment %}
                <tbody>
                    <tr>
                    <th scope="row">Почтовый адрес</th>
                    <td>109469, город Москва, улица Марьинский парк, дом 23, корпус 3</td>
                    </tr>
                    <tr>
                    <th scope="row">Адрес электронной почты</th>
                    <td>spks@naks.ru</td>
                    </tr>
                    <tr>
                    <th scope="row">Номер контактного телефона</th>
                    <td>+7 (499) 784-72-83, 784-77-00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    </div>
{% endblock  %}